div{
    font-family: serif;
    font-style: italic;
    font-size: 100px;
    font-weight: 900;
    font-variant: small-caps;
    direction: ltr;
    line-height: 100px;
    text-align: center;
    text-decoration:underline wavy goldenrod ;
    text-shadow: 8px 7px 5px rgb(145, 127, 27);
    
}